.register-header {
    justify-content: space-between;
    align-items: flex-end;
}

.register-header h1 {
    font-size: 50px;
    font-weight: normal;
}

.register-header span {
    font-weight: normal;
    font-size: 18px;
}

.input-containerr {
    justify-content: space-between;
}

.register-header .link {
    font-style: italic;
    text-decoration: underline;
    cursor: pointer;
}

.gender {
    border: 2px solid #ffffff;
    height: auto;
    border-radius: 8px;
    margin-top: 5px;
    width: 200px;
    overflow: hidden;
}

.gender-item {
    padding: 18px 30px;
    cursor: pointer;
    background: transparent;
    outline: none;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    transition: all .3s ease;
}

.selected-item {
    background: #5850e8;
}

.gender-item:hover {
    background: #5850e8;
}

.link-container {
    text-align: right;
}